.error {
    color: red;
    background: darkred;
    font-weight: bolder;
}

/*body {*/
/*    background: #83D8FF;*/
/*}*/
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}
th, td {
    padding: 1em;
    border: 2px solid white;
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px Arial, sans-serif;
    height: 100%;
}
.wrapper {
    width: 100%;
    min-width: 900px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 150px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {

    width: 100%;
    padding: 0 0 100px;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content {
    padding: 10px 230px 10px 330px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 315px;
    margin-left: -100%;
    position: relative;
    padding: 10px 0px 0px 10px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
    float: left;
    width: 216px;
    margin-left: -216px;
    position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -100px auto 0;
    min-width: 1000px;
    height: 50px;
    position: relative;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}